{% if messages %}
    <div hx-swap-oob="innerHTML:#messages-container-wrapper">{% include "account/messages.html" %}</div>
{% endif %}
{% if created %}
    <div hx-swap-oob="innerHTML:#core-modal-level-1-placeholder-wrapper"></div>
    <div hx-swap-oob="innerHTML:#calendar-and-events-container">
        {% include 'phoxtail_booking_events/admin/booking/partials/calendar.html' %}
    </div>
    <div hx-swap-oob="innerHTML:#core-modal-placeholder">
        {% include 'phoxtail_booking_events/admin/booking/partials/forms/detail/admin_event_detail_form.html' with event=event %}
    </div>
{% else %}
    <div hx-swap-oob="innerHTML:#core-modal-level-1-placeholder">
        {% include "phoxtail_booking_events/admin/booking/partials/forms/create/admin_event_reservation_create_form.html" %}
    </div>
{% endif %}
