<!-- Filters Modal Content -->
<div class="suba-center-overlay"
     onclick="closeModal()"
     data-modal-animation="fade"
     data-animation-duration="300ms"
     id="modal-filters-content">
    <!-- Backdrop -->
    <div class="suba-center-backdrop"></div>
    <!-- Modal Box -->
    <div class="suba-center-modal" onclick="event.stopPropagation();">
        <div class="suba-center-modal__scroll">
            <form id="billing-filters-form"
                  hx-include="#billing-search-form, #billing-filters-form">
                {% include 'phoxtail_booking_subscriptions/admin/billing/partials/forms/filters/form_content.html' %}
            </form>
        </div>
    </div>
</div>
