{% load wagtailimages_tags wagtailsettings_tags %}
{% get_settings %}
{% if settings.phoxtail_cms.SiteSetting.logo %}
    <div class="auth-logo-wrapper">
        {% image settings.phoxtail_cms.SiteSetting.logo height-256 as logo %}
        {% if settings.phoxtail_cms.SiteSetting.logo_dark %}
            {% image settings.phoxtail_cms.SiteSetting.logo_dark height-256 as logo_dark %}
        {% endif %}
        {% if settings.phoxtail_cms.SiteSetting.site.root_page.url %}
            <a href="{{ settings.phoxtail_cms.SiteSetting.site.root_page.url }}"
               class="auth-logo-link">
                <picture>
                    {% if logo_dark %}
                        <source srcset="{{ logo_dark.file.url }}"
                                media="(prefers-color-scheme: dark)" />
                    {% endif %}
                    <img src="{{ logo.file.url }}"
                         alt="{{ settings.phoxtail_cms.SiteSetting.logo.title }}"
                         class="auth-logo-img" />
                </picture>
            </a>
        {% else %}
            <picture>
                {% if logo_dark %}
                    <source srcset="{{ logo_dark.file.url }}"
                            media="(prefers-color-scheme: dark)" />
                {% endif %}
                <img src="{{ logo.file.url }}"
                     alt="{{ settings.phoxtail_cms.SiteSetting.logo.title }}"
                     class="auth-logo-img" />
            </picture>
        {% endif %}
    </div>
{% endif %}
