{% load wagtailcore_tags phoxtail_design_tags %}
<div id="al-{{ block.id }}"
     class="al-wrapper al-status-{{ value.status }}">
    <div class="al-container">
        <div class="al-card" role="alert">
            <div class="al-icon-wrapper" aria-hidden="true">
                {% if value.status == 'info' %}
                    {% icon "info" class="al-icon" %}
                {% elif value.status == 'success' %}
                    {% icon "check_circle" class="al-icon" %}
                {% elif value.status == 'warning' %}
                    {% icon "warning" class="al-icon" %}
                {% elif value.status == 'danger' %}
                    {% icon "danger" class="al-icon" %}
                {% endif %}
            </div>
            <div class="al-content">
                <p class="al-title">{{ value.title }}</p>
                <p class="al-description">{{ value.message|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</div>
