<div class="res-details-card">
    <h3 class="res-details-card__heading">
        {% include 'phoxtail_core/svgs/event.html' with class="icon-md" %}
        Class Details
    </h3>
    <div class="res-details-body">
        <div class="res-details-row">
            <span class="res-details-row__icon">{% include 'phoxtail_core/svgs/calendar.html' with class="icon-md" %}</span>
            <div>
                <div class="res-details-label">{{ reservation.event.service.name }}</div>
                <div class="res-details-value">{{ reservation.event.start_datetime|date:"F d, Y" }}</div>
            </div>
        </div>
        <div class="res-details-row">
            <span class="res-details-row__icon">{% include 'phoxtail_core/svgs/timer.html' with class="icon-md" %}</span>
            <div>
                <div class="res-details-label">Duration</div>
                <div class="res-details-value">
                    {{ reservation.event.start_datetime|time:"H:i" }} - {{ reservation.event.end_datetime|time:"H:i" }}
                </div>
            </div>
        </div>
        {% if reservation.event.space %}
            <div class="res-details-row">
                <span class="res-details-row__icon">{% include 'phoxtail_core/svgs/location_on.html' with class="icon-md" %}</span>
                <div>
                    <div class="res-details-label">{{ reservation.event.space.name }}</div>
                    {% if reservation.event.space.location %}
                        <div class="res-details-value">{{ reservation.event.space.location.name }}</div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="res-details-row">
            <span class="res-details-row__icon">{% include 'phoxtail_core/svgs/groups.html' with class="icon-md" %}</span>
            <div>
                <div class="res-details-label">Class Size</div>
                {% if reservation.event.is_full %}
                    <div class="res-details-value--full">Fully Booked</div>
                {% else %}
                    <div class="res-details-value--available">Available Spots</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if reservation.event.description %}
        <div class="res-details-divider">
            <div class="res-details-description">
                {% include "phoxtail_core/svgs/info.html" with class="icon-md" %}
                <span>{{ reservation.event.description|truncatewords:20 }}</span>
            </div>
        </div>
    {% endif %}
</div>
