{% extends "phoxtail_dashboard/index.html" %}
{% load static %}
{% block head_title %}
    Class Details
{% endblock head_title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'phoxtail_booking_services/css/services.css' %}">
{% endblock extra_css %}
{% block content %}
    <div class="svc-page">
        <div class="svc-page-inner">
            {% include 'phoxtail_booking_services/detail/header.html' %}
            {% include 'phoxtail_booking_services/detail/object.html' %}
        </div>
    </div>
{% endblock content %}
