{% include "account/messages.html" %}
{% if reservations %}
    <div class="res-grid">
        {% for reservation in reservations %}
            {% include 'phoxtail_booking_reservations/list/partials/reservation.html' with reservation=reservation %}
        {% endfor %}
    </div>
{% else %}
    <div class="res-empty">
        <div class="res-empty__card">
            <div class="res-empty__icon-wrap">{% include 'phoxtail_core/svgs/calendar.html' %}</div>
            <h3 class="res-empty__title">No Bookings Found</h3>
            <p class="res-empty__text">You haven't made any bookings yet. Start exploring our classes!</p>
            <a href="{% url 'dashboard:booking:events:list' %}"
               class="res-empty__action">
                {% include 'phoxtail_core/svgs/plus.html' with class="icon-md" %}
                Book a Class
            </a>
        </div>
    </div>
{% endif %}
