{% if messages %}
    <div hx-swap-oob="innerHTML:#messages-container-wrapper">{% include "account/messages.html" %}</div>
{% endif %}
{% if not form.errors %}
    <div hx-swap-oob="innerHTML:#core-modal-level-1-placeholder-wrapper"></div>
    <!-- Refresh the calendar -->
    <div hx-swap-oob="innerHTML:#calendar-and-events-container">
        {% include 'phoxtail_booking_events/admin/booking/partials/calendar.html' %}
    </div>
    <!-- Refresh the detail drawer with updated reservation data -->
    <div hx-swap-oob="innerHTML:#core-modal-placeholder">
        {% include 'phoxtail_booking_events/admin/booking/partials/forms/detail/admin_event_detail_form.html' with event=event reservations=reservations %}
    </div>
{% else %}
    <!-- Re-render the edit form with errors -->
    <div hx-swap-oob="innerHTML:#core-modal-level-1-placeholder">
        {% include "phoxtail_booking_events/admin/booking/partials/forms/update/reservation/form.html" %}
    </div>
{% endif %}
