{% load thumbnail %}
{# Rich display for BlockVariant items in dropdown and chips #}
<span class="stu-ref-info">
    <span class="stu-ref-name">{{ item.block.name }}</span>
    <span class="stu-ref-subtitle">{{ item.name }}</span>
    {% if item.description %}<span class="stu-ref-desc">{{ item.description|truncatewords:12 }}</span>{% endif %}
</span>
{% if item.preview_image %}
    {% thumbnail item.preview_image.file "80x80" crop="center" as thumb %}
        <img src="{{ thumb.url }}" alt="" class="stu-ref-thumb">
    {% endthumbnail %}
{% endif %}
