{% extends "account/base_entrance.html" %}
{% load static i18n %}
{% load allauth %}
{% block head_title %}
    {% translate "Account Inactive" %}
{% endblock head_title %}
{% block body %}
    {% if messages %}
        {% include "account/messages.html" %}
    {% endif %}
    <div class="auth-page">
        <div class="auth-container">
            <div class="auth-card">
                {% include "allauth/components/logo.html" %}
                <div class="auth-header">
                    <h1 class="auth-heading">{% translate "Account Inactive" %}</h1>
                    <p class="auth-subtitle">{% translate "This account is inactive." %}</p>
                </div>
                <div class="auth-actions auth-actions-row">
                    {% include "allauth/components/submit_button.html" with text_key="Go back to homepage" button_type="link" url="/" %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
