{% extends "account/base_entrance.html" %}
{% load allauth %}
{% load i18n %}
{% block head_title %}
    {% trans "Confirm Access" %}
{% endblock head_title %}
{% block body %}
    {% if messages %}
        {% include "account/messages.html" %}
    {% endif %}
    <div class="auth-page">
        <div class="auth-container">
            <div class="auth-card">
                {% include "allauth/components/logo.html" %}
                <div class="auth-header">
                    <h1 class="auth-heading">{% trans "Confirm Access" %}</h1>
                    <p class="auth-subtitle">
                        {% blocktranslate %}Please reauthenticate to safeguard your account.{% endblocktranslate %}
                    </p>
                </div>
                {% block reauthenticate_content %}{% endblock %}
                {% if reauthentication_alternatives %}
                    <div class="auth-section-divider">
                        <h2 class="auth-heading">{% translate "Alternative options" %}</h2>
                        {% for alt in reauthentication_alternatives %}
                            <div class="auth-actions">
                                <a href="{{ alt.url }}" class="auth-link" tags="link">{{ alt.description }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
