{% extends "account/base_entrance.html" %}
{% load static i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Password Changed" %}
{% endblock head_title %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'phoxtail_core/css/account/password.css' %}">
{% endblock %}
{% block body %}
    {% if messages %}
        {% include "account/messages.html" %}
    {% endif %}
    <div class="auth-page">
        <div class="auth-container">
            <div class="auth-card">
                {% include "allauth/components/logo.html" %}
                <div class="auth-header">
                    <h1 class="auth-heading">{% trans "Password Changed" %}</h1>
                    <p class="auth-subtitle">{% trans "Your password has been successfully changed." %}</p>
                </div>
                {% url 'account_login' as login_url %}
                <div class="auth-actions">
                    {% include "allauth/components/submit_button.html" with text_key="Return to Login" button_type="link" url=login_url %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
