{% extends "account/base_entrance.html" %}
{% load static i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'phoxtail_core/css/account/password.css' %}">
{% endblock %}
{% block body %}
    {% if messages %}
        {% include "account/messages.html" %}
    {% endif %}
    <div class="auth-page">
        <div class="auth-container">
            <div class="auth-card">
                {% include "allauth/components/logo.html" %}
                <div class="auth-header">
                    <h1 class="auth-heading">{% trans "Password Reset" %}</h1>
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p class="auth-subtitle">
                        {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
                    </p>
                </div>
                {% url 'account_reset_password' as reset_url %}
                <form class="auth-form" method="post" action="{{ reset_url }}">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="auth-error">
                                <span class="auth-error-dot"></span>
                                {{ error }}
                            </p>
                        {% endfor %}
                    {% endif %}
                    {% include "phoxtail_core/forms/widgets/input.html" with field=form.email autofocus=True %}
                    {{ redirect_field }}
                    <div class="auth-actions">
                        {% include "allauth/components/submit_button.html" with text_key="Reset My Password" button_type="submit" %}
                    </div>
                </form>
                <div class="auth-note auth-mt-6">
                    <p>
                        {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
