# --------------------
# Python
# --------------------
.venv/
venv/
__pycache__/
.ruff_cache/
.pytest_cache/
requirements.txt
.phoxtail/
uv.lock

# Python build artifacts
*.egg-info/
*.egg
dist/
build/

# --------------------
# Django
# --------------------
*.log
db.sqlite3

/static/
/media/

# --------------------
# Environment and Config Files
# --------------------
.env
.env.*
nginx.conf
Dockerfile
docker-compose.yaml
docker-compose.*.yaml

# --------------------
# Backups and Certbot
# --------------------
db-backups/
certbot/

# --------------------
# OS
# --------------------
.DS_Store

# --------------------
# AI Agents
# --------------------
CLAUDE.md
GEMINI.md
.claude
.gemini
