{% extends "wagtailadmin/admin_base.html" %}
{% load static wagtailimages_tags wagtailsettings_tags %}
{% block branding_favicon %}
    {% get_settings %}
    {% if settings.phoxtail_cms.SiteSetting.favicon and settings.phoxtail_cms.SiteSetting.favicon_dark %}
        {% image settings.phoxtail_cms.SiteSetting.favicon height-100 as favicon %}
        {% image settings.phoxtail_cms.SiteSetting.favicon_dark height-100 as favicon_dark %}
        <link rel="shortcut icon"
              href="{{ favicon.file.url }}"
              media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" />
        <link rel="shortcut icon"
              href="{{ favicon_dark.file.url }}"
              media="(prefers-color-scheme: dark)" />
    {% else %}
        <link rel="shortcut icon"
              type="image/svg+xml"
              href="{% static 'phoxtail_core/phoxtail/logo/symbol-on-light.svg' %}"
              media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" />
        <link rel="shortcut icon"
              type="image/svg+xml"
              href="{% static 'phoxtail_core/phoxtail/logo/symbol-on-dark.svg' %}"
              media="(prefers-color-scheme: dark)" />
    {% endif %}
{% endblock %}
