{% if messages %}
    <div hx-swap-oob="innerHTML:#messages-container-wrapper">{% include "account/messages.html" %}</div>
{% endif %}
{% if form.errors %}
    <!-- Always re-render the edit form (with or without errors) -->
    <div hx-swap-oob="innerHTML:#core-modal-placeholder">
        {% include "phoxtail_booking_events/admin/scheduling/partials/forms/update/event/form.html" %}
    </div>
{% else %}
    <div hx-swap-oob="innerHTML:#core-modal-placeholder-wrapper"></div>
    <!-- Refresh the schedule on success -->
    <div hx-swap-oob="innerHTML:#schedule-container">{% include 'phoxtail_booking_events/admin/scheduling/partials/schedule.html' %}</div>
{% endif %}
