{% if user_subscriptions %}
    <div class="sub-grid">
        {% for subscription in user_subscriptions %}
            {% include 'phoxtail_booking_subscriptions/public/subscriptions/partials/subscription.html' with subscription=subscription %}
        {% endfor %}
    </div>
{% else %}
    <div class="sub-empty">
        <div class="sub-empty__card">
            <div class="sub-empty__icon-wrap">{% include 'phoxtail_core/svgs/payment_card.html' %}</div>
            <h3 class="sub-empty__title">No Plans Found</h3>
            <p class="sub-empty__text">Choose a plan that's right for you to get started.</p>
            <a href="{% url 'dashboard:booking:subscriptions:subscription-type-list' %}"
               class="sub-empty__action">
                {% include 'phoxtail_core/svgs/add_shopping_cart.html' with class="icon-md" %}
                Browse Plans
            </a>
        </div>
    </div>
{% endif %}
