# Database
psycopg[binary]

# Cache / broker
redis

# Production server
gunicorn

# Project utilities
django-environ
python-dateutil
babel

# Development
django-browser-reload
django-extensions
pygraphviz
ipython
Faker
factory-boy
freezegun
