{% if messages %}
    <div hx-swap-oob="innerHTML:#messages-container-wrapper">{% include "account/messages.html" %}</div>
{% endif %}
{% if created %}
    <div hx-swap-oob="innerHTML:#core-modal-placeholder-wrapper"></div>
    <div hx-swap-oob="innerHTML:#users-container">{% include 'phoxtail_booking_core/admin/users/partials/users.html' %}</div>
{% else %}
    <div hx-swap-oob="innerHTML:#core-modal-placeholder">
        {% include "phoxtail_booking_core/admin/users/partials/forms/create/form.html" %}
    </div>
{% endif %}
