{% load wagtailadmin_tags i18n %}
<div class="w-field__wrapper" data-field-wrapper>
    <div class="w-field w-field--char_field w-field--text_input{% if field.errors %} w-field--error{% endif %}"
         data-field>
        {% if help_text %}<p class="help">{{ help_text }}</p>{% endif %}
        {% if field.errors %}
            <p class="error-message">
                {% for error in field.errors %}<span>{{ error }}</span>{% endfor %}
            </p>
        {% endif %}
        <div class="w-field__input" data-field-input>
            <div class="code-editor-wrapper">
                <textarea name="{{ field.name }}"
                          id="id_{{ field.name }}"
                          style="display: none"
                          {% if field.field.required %}required{% endif %}>{{ field.value|default_if_none:"" }}</textarea>
                <div id="monaco-editor-{{ field.name }}"
                     class="monaco-editor-container"
                     style="height: 600px;
                            border: 1px solid {% if field.errors %}var(--w-color-critical-200){% else %}var(--w-color-border-field-default){% endif %};
                            border-radius: 4px"></div>
            </div>
        </div>
    </div>
</div>
