{% load i18n %}
{% if messages %}
    <div hx-swap-oob="innerHTML:#messages-container-wrapper">{% include "account/messages.html" %}</div>
{% endif %}
{% if renewal_success %}
    <!-- Refresh the subscription list on success -->
    <div hx-swap-oob="innerHTML:#subscriptions-container">
        {% include 'phoxtail_booking_subscriptions/public/subscriptions/partials/subscriptions.html' %}
    </div>
    <!-- Close the modal -->
    <div hx-swap-oob="innerHTML:#core-modal-placeholder-wrapper"></div>
{% endif %}
