<div class="svc-empty">
    <div class="svc-empty__card">
        <div class="svc-empty__icon-wrap">{% include 'phoxtail_core/svgs/view_apps.html' %}</div>
        <h3 class="svc-empty__title">No Classes Available</h3>
        <p class="svc-empty__text">There are no classes available at this time. Please check back later.</p>
        <a href="{% url 'dashboard:index' %}" class="svc-empty__action">
            {% include 'phoxtail_core/svgs/browse.html' %}
            Back to Dashboard
        </a>
    </div>
</div>
