{% extends "phoxtail_dashboard/index.html" %}
{% load static %}
{% block head_title %}
    Profile
{% endblock head_title %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock extra_css %}
{% block content %}
    <div class="dash-page">
        <div class="dash-page-inner">
            {% include "phoxtail_dashboard/page_title.html" with page_title="Profile" page_icon="person" %}
            <div class="usr-panel">
                <div id="profile-content" class="usr-columns">
                    {% include "users/profile/partials/user_info.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
