{% load static wagtailcore_tags wagtailimages_tags wagtailsettings_tags django_htmx %}
<!DOCTYPE html>
<html lang="{{ page.locale.language_code }}">
    <head>
        <meta charset="utf-8" />
        {% wagtail_site as current_site %}
        {% if settings.phoxtail_cms.SiteSetting.favicon %}
            {% image settings.phoxtail_cms.SiteSetting.favicon max-32x32 as favicon_img %}
            <link rel="icon"
                  type="image/png"
                  href="{{ favicon_img.url }}"
                  media="(prefers-color-scheme: light)" />
        {% endif %}
        {% if settings.phoxtail_cms.SiteSetting.favicon_dark %}
            {% image settings.phoxtail_cms.SiteSetting.favicon_dark max-32x32 as favicon_dark_img %}
            <link rel="icon"
                  type="image/png"
                  href="{{ favicon_dark_img.url }}"
                  media="(prefers-color-scheme: dark)" />
        {% endif %}
        {% if settings.phoxtail_cms.SiteSetting.og_image %}
            {% image settings.phoxtail_cms.SiteSetting.og_image width-1200 as og_img %}
            <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ og_img.url }}" />
            <meta property="og:image:width" content="1200" />
            <meta property="og:image:height" content="{{ og_img.height }}" />
        {% endif %}
        <title>
            {% block title %}
                {% if page.seo_title %}
                    {{ page.seo_title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <link rel="canonical" href="{{ page.full_url }}" />
        {% if page.search_description %}<meta name="description" content="{{ page.search_description }}" />{% endif %}
        <meta property="og:title" content="{{ page.seo_title|default:page.title }}" />
        {% if page.search_description %}<meta property="og:description" content="{{ page.search_description }}" />{% endif %}
        {% if current_site.site_name %}<meta property="og:site_name" content="{{ current_site.site_name }}" />{% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Global App Stylesheets -->
        <link rel="stylesheet" href="{% static 'phoxtail_core/css/main.css' %}" />
        <!-- HTMX -->
        <script src="{% static 'phoxtail_core/js/htmx.min.js' %}" defer></script>
        {% django_htmx_script %}
        <!-- Modal Media -->
        <link rel="stylesheet" href="{% static 'phoxtail_core/css/modal.css' %}">
        <script src="{% static 'phoxtail_core/js/modal.js' %}"></script>
        <!-- Core Widgets CSS -->
        <link rel="stylesheet" href="{% static 'phoxtail_core/css/widgets.css' %}">
        <!-- Force All Links to Open in New Tab in Wagtail Preview Panel -->
        {% if request.in_preview_panel %}<base target="_blank">{% endif %}
        {% get_settings %}
        <style>
            :root {
                {{ settings.phoxtail_cms.SiteSetting.css_variables|safe }}
            }
            {{ settings.phoxtail_cms.SiteSetting.font_face_declarations|safe }}
        </style>
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        {% include "account/messages_static.html" %}
        {% include "account/messages.html" %}
        <main>
            <!-- Modal Placeholder -->
            <div id="core-modal-placeholder-wrapper"></div>
            <div id="core-modal-level-1-placeholder-wrapper"></div>
            <!-- Content -->
            {% block content %}{% endblock %}
        </main>
        {% if not phoxtail_screenshot_mode %}{% include "phoxtail_cms/phoxtail_bar.html" %}{% endif %}
        {% block extra_js %}{% endblock %}
    </body>
</html>
